#map {
    position: absolute;
    top: 55px;
    left: 15%;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#legend {
    background: #fff;
    margin-right: 10px; 
    width: 7%;
    height: auto;
    line-height: 0;
    border-radius: 4px;
  }
  #legend img {
    border-radius: 4px;
    display: inline;
    margin: 0px;
    padding-right: 0%;
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border: none;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-image: linear-gradient(#AA271E, #4A3B42);
    z-index: 2; 
}
.container {
    display: flex;
    flex-direction: column;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-bottom: 0px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    position: fixed;
    top: 55px;
    left: 0;
    width: 15%;
    height: calc(100% - 55px);
    z-index: 2;
    overflow-y: auto;
    background: url(https://drive.google.com/thumbnail?id=1CmTH8inu_-xfQLq-ZkRoXITYFV9y35Ab);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10%;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
li p{
    font-size: 10px;
    margin: 0px;
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type=checkbox] {
    display: none;
}

/* the below code just removes the footer from the google map*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {display:none;}
/*.gmnoprint div {background:none !important;}
/* end of footer remover */

.dropdown-container {
    display: none;
    padding-left: 20px;
  }


  #controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure controls are above the map */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#timeSlider {
    width: 200px;
    margin-right: 10px;
}

#daySelector {
    width: 100px;
}